<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ije.mapper.AttachMapper">

	<insert id="insert">
		<foreach collection="list" item="item" open="INSERT ALL" close="Select * from dual" separator=" ">
			into tb_attach_group(gno, path, mno, cno, bno) values(seq_attach_group.nextval, #{path}, #{mno}, #{cno}, #{bno})
			into tb_attach(uuid, filename, filetype, gno) values(#{uuid}, #{fileName}, #{fileType}, seq_attach_group.nextval)	
		</foreach>
	</insert>
	
	<delete id="delete">
	delete from TB_ATTACH_GROUP 
	from TB_ATTACH_GROUP a INNER JOIN tb_attach b ON a.GNO = b.GNO 
	where cno = #{cno}
	</delete>
	
	<select id="findByCno" resultType="com.ije.domain.AttachVO">
	SELECT a.gno, PATH, rdate, mno, cno, bno, uuid, fileName, fileType FROM 
	TB_ATTACH_GROUP a INNER JOIN tb_attach b ON a.GNO = b.GNO 
	WHERE cno=#{cno};
	</select>
</mapper>