<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ije.mapper.BoardMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") And " prefixOverrides="OR">
		<foreach item="type" collection="cri.typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						title like '%'||#{cri.keyword}||'%'
					</when>
					<when test="type == 'C'.toString()">
						content like '%'||#{cri.keyword}||'%'
					</when>
					<when test="type == 'W'.toString()">
						writer like '%'||#{cri.keyword}||'%'
					</when>
				</choose>
			</trim>
		</foreach>
		</trim>
	</sql>
	
	<select id="getList" resultType="com.ije.domain.BoardVO">
	Select * from tb_board where bno > 0 
	</select>
	
	<select id="getListPaging" resultType="com.ije.domain.BoardVO">
	<![CDATA[
	Select * from (
		Select /*+ INDEX_DESC(tb_board pk_board) */
		ROWNUM rn, level, bno, kind, title, content, writer, rdate, udate, replycnt, refno
		From tb_board Where 
	]]>	
	<include refid="criteria"></include>
	<![CDATA[
	#{cri.pageNum}*#{cri.amount} >= ROWNUM and kind = #{kind}
	START WITH refno=0 
	CONNECT BY PRIOR bno=refno 
	ORDER siblings BY bno DESC) Where rn > (#{cri.pageNum}-1)*#{cri.amount} 
	]]>
	</select>
	

	<select id="getCount" resultType="int">
	Select count(*) From tb_board where
	<include refid="criteria"></include>
	kind = #{kind}
	</select>
	
	<insert id="insert">
	Insert into tb_board(bno, kind, title, content, writer, refno)
	Values(seq_board.nextval, #{kind}, #{title}, #{content}, #{writer}, #{refno})
	</insert>
	
	<insert id="insertKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="Long">
		Select seq_board.nextval from dual 
		</selectKey>	
	Insert into tb_board(bno, kind, title, content, writer, refno)
	Values(#{bno}, #{kind}, #{title}, #{content}, #{writer}, #{refno})
	</insert>
	
	<select id="read" resultType="com.ije.domain.BoardVO">
	Select * from tb_board where bno=#{bno}
	</select>
	
	<delete id="delete">
	Delete tb_board where bno in(
	SELECT bno FROM tb_board 
	START WITH bno=#{bno}
	CONNECT BY PRIOR bno = refno)
	</delete>
	
	<update id="update">
	Update tb_board set 
	title=#{title}, content=#{content}, udate=sysdate 
	where bno = #{bno}
	</update>
	
	<update id="reportUpdate">
	update tb_board set report=#{reporter} where bno=#{bno}
	</update>
	
	<select id="topList" resultType="com.ije.domain.BoardVO">
	<![CDATA[
	Select * from (
	 Select /*+ INDESX_DESC(tb_board, pk_board) */ 
	 rownum rn, bno, kind, title, content, writer, rdate, udate 
	 From tb_board Where kind=#{kind}
	) Where rn <= 5
	]]>
	</select>
	
	<select id="topWriterList" resultType="com.ije.domain.BoardVO">
	<![CDATA[
	Select * from (
	 Select /*+ INDESX_DESC(tb_board, pk_board) */ 
	 rownum rn, bno, kind, title, content, writer, rdate, udate 
	 From tb_board Where writer=#{writer}
	) Where rn <= 5
	]]>	
	</select>
	
	<select id="getWriterCount" resultType="int">
	select count(*) from tb_board where
	<include refid="criteria"></include>
	writer=#{writer}
	</select>
	
	<update id="updateReplyCnt">
	update tb_board set replycnt = replycnt+#{amount} where bno=#{bno}
	</update>
	
	<select id="getWriterList" resultType="com.ije.domain.BoardVO">
	<![CDATA[
	Select * from (
		Select /*+ INDEX_DESC(tb_board pk_board) */
		ROWNUM rn,  bno, kind, title, content, writer, rdate, udate, replycnt, refno
		From tb_board Where 
	]]>	
	<include refid="criteria"></include>
	<![CDATA[
	#{cri.pageNum}*#{cri.amount} >= ROWNUM and writer = #{writer}
	) Where rn > (#{cri.pageNum}-1)*#{cri.amount} 
	]]>
	</select>


</mapper>