<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.ije.mapper.CultureMapper">

	<select id="getList" resultType="com.ije.domain.CultureVO">
	 select * from tb_culture where cno > 0 
	</select>
	
	<select id="getCount" resultType="int">
	select count(*) from tb_culture
	</select>
	
	<select id="getListPaging" resultType="com.ije.domain.CultureVO">
	<![CDATA[
	select * from ( 
		select /*+ INDEX_DESC(tb_culture pk_culture)*/ 
		ROWNUM rn, cno, cdate, kind, title, content, rdate, udate, mno 
		From tb_culture where ROWNUM <= #{pageNum}*#{amount}
	) where rn > (#{pageNum}-1)*#{amount}
	]]>
	</select>
	
	<select id="getStatsList" resultType="com.ije.domain.CultureVO">
	<![CDATA[
	SELECT TO_CHAR(TO_DATE(rdate), 'yyyy-MM-dd') As day, kind, count(*) AS sum
	FROM tb_culture
	WHERE 1=1 AND TO_CHAR(TO_DATE(rdate), 'yyyy-MM-dd') between #{sdate} and #{edate}
	GROUP BY rdate, kind
	ORDER BY rdate, kind
	]]>
	</select>	
	
	<insert id="insert">
	INSERT INTO tb_culture(cno, cdate, kind, title, content, RANK, mno)
	Values(seq_culture.nextval, #{cdate}, #{kind}, #{title}, #{content}, #{rank}, 1)
	</insert>
	
	<insert id="insertKey">
		<selectKey keyProperty="cno" order="BEFORE" resultType="Long">
		Select seq_culture.nextval from dual
		</selectKey>
	INSERT INTO tb_culture(cno, cdate, kind, title, content, RANK, mno)
	Values(#{cno}, #{cdate}, #{kind}, #{title}, #{content}, #{rank}, 1)	
	</insert>
	
	<select id="read" resultType="com.ije.domain.CultureVO">
	select * from tb_culture where cno = #{cno}
	</select>
	
	<update id="update">
	update tb_culture 
	set cdate=#{cdate}, kind=#{kind}, title=#{title}, content=#{content}, rank=#{rank}, udate=sysdate
	where cno=#{cno}
	</update>
	
	<delete id="delete">
	delete tb_culture where cno=#{cno}
	</delete>
	

</mapper>